@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1><br><br>
    <p>ReservationPlace est une application web permettant de visualiser les concerts programmés prochainement.</p>
    <p>Il sera bientôt possible de réserver ses places en ligne.</p>
</div>
